<!DOCTYPE html>
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Clone Site
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    body
        include ../particals/header

        main
            include ../particals/section_1
            include ../particals/section_2
            include ../particals/section_3
            include ../particals/section_4

        include ../particals/footer

        script(src="js/main.js")