section.section_3.center_cont
    .section__main
        .section_3__wrap
            h3 이미지 Flex 자르기
            .flex__group
                .flex__group__1
                    img(src="../img/img3_1.jpg" alt="img3_1")
                .flex__group__2
                    .flex__group__2__1.flex__group__text
                        p 
                            |텍스트 
                            br
                            |Area 1
                    .flex__group__2__2
                        img(src="../img/img3_1.jpg" alt="img3_1")
                .flex__group__3
                    .flex__group__3__1
                        .flex__group__3__1__box
                            img(src="../img/img3_1.jpg" alt="img3_1")
                        .flex__group__3__1__box
                            img(src="../img/img3_1.jpg" alt="img3_1")
                    .flex__group__3__2
                        img(src="../img/img3_1.jpg" alt="img3_1")
                    .flex__group__3__3.flex__group__text
                        p 텍스트 Area 2