section.section_4.right_cont
    .section__main
        .section_4__wrap
            .section_4__title
                h3 Pug
                p 
                    | html 을 더 직관적이게 구성하는
                    br
                    | 또 다른 방법

            .section_4__contents.contents__left
                .section_4__contents__wrap
                    .section_4__contents__img_area
                        img(src="./img/img5_1.jpg" alt="img5_1")
                    .section_4__contents__text_area
                        div
                            h4 Title Area
                            p 
                                | Text Area 입니다
                                br
                                | 원하는 텍스트를 
                                br
                                | 넣을 수 있습니다
                .section_4__contents__btn_area
                    .section_4__contents__btn_area__content
                        a(href="#")
                            img(src="./img/img5_1.jpg" alt="img5_1")
                    .section_4__contents__btn_area__content
                        a(href="#")
                            img(src="./img/img5_1.jpg" alt="img5_1")

            .section_4__contents.contents__right
                .section_4__contents__wrap
                    .section_4__contents__text_area
                        div
                            h4 Title Area
                            p 
                                | Text Area 입니다
                                br
                                | 원하는 텍스트를 
                                br
                                | 넣을 수 있습니다
                    .section_4__contents__img_area
                        img(src="./img/img5_1.jpg" alt="img5_1")
                .section_4__contents__btn_area
                    .section_4__contents__btn_area__content
                        a(href="#")
                            img(src="./img/img5_1.jpg" alt="img5_1")
                    .section_4__contents__btn_area__content
                        a(href="#")
                            img(src="./img/img5_1.jpg" alt="img5_1")

section.section_4.left_cont
    .section__main
        .section_4__wrap
            .section_4__title
                h3 Pug
                p 
                    | html 을 더 직관적이게 구성하는
                    br
                    | 또 다른 방법

            .section_4__contents.contents__left
                .section_4__contents__wrap
                    .section_4__contents__img_area
                        img(src="./img/img5_1.jpg" alt="img5_1")
                    .section_4__contents__text_area
                        div
                            h4 Title Area
                            p 
                                | Text Area 입니다
                                br
                                | 원하는 텍스트를 
                                br
                                | 넣을 수 있습니다
                .section_4__contents__btn_area
                    .section_4__contents__btn_area__content
                        a(href="#")
                            img(src="./img/img5_1.jpg" alt="img5_1")
                    .section_4__contents__btn_area__content
                        a(href="#")
                            img(src="./img/img5_1.jpg" alt="img5_1")

            .section_4__contents.contents__right
                .section_4__contents__wrap
                    .section_4__contents__text_area
                        div
                            h4 Title Area
                            p 
                                | Text Area 입니다
                                br
                                | 원하는 텍스트를 
                                br
                                | 넣을 수 있습니다
                    .section_4__contents__img_area
                        img(src="./img/img5_1.jpg" alt="img5_1")
                .section_4__contents__btn_area
                    .section_4__contents__btn_area__content
                        a(href="#")
                            img(src="./img/img5_1.jpg" alt="img5_1")
                    .section_4__contents__btn_area__content
                        a(href="#")
                            img(src="./img/img5_1.jpg" alt="img5_1")