section.section_1.left_cont
    .section__main
        .section_1__wrap
            img.logo(src="./img/logo.svg" alt="")
            p 
                | Test my 
                b Site 
                | To Gulp 