section.section_2.center_cont
    .section__main
        .section_2__wrap
            h4 
                |보통과는 다른 코딩패턴의 
                br
                |웹 사이트
            p 
                |이 사이트는 
                b Gulp
                |와 
                b Pug 
                |를 테스트
                br
                |하기 위한 사이트입니다