section.section_5.center_cont
    .section__main
        .section_5__wrap
            h3.section__title #GitHub Page
            .section_5__link
                a(href="https://github.com/LunchTime-github/CloneWeb_Gulp")
                    i.material-icons cloud_circle
                    span LunchTime Github Page
            ul.section_5__contents
                - var title = "testTitle"
                - for (var x = 0; x < 4; x ++)
                    li
                        img(src="./img/img6_1.jpg", alt="img6_1", title=title)