section {
  display: flex;
  &.left_cont {
    justify-content: flex-start;
  }
  &.right_cont {
    justify-content: flex-end;
  }
  &.center_cont {
    .section__main {
      width: 100%;
    }
  }

  .section__main {
    width: 50%;
    background-color: #ffffff;
    height: 100%;
  }
}

.section_1 {
  background-image: url(../img/img1.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  .section__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__wrap {
    margin-left: 180px;
    img {
      width: 140px;
      margin-bottom: 40px;
    }
    p {
      font-size: 24px;
    }
  }
}

.section_2 {
  background-image: url(../img/img2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  justify-content: center;
  .section__main {
    padding: 120px 0;
    text-align: center;
    background-color: transparent;
  }
  &__wrap {
    h4,
    p {
      color: #fff;
      line-height: 150%;
    }
    h4 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    p {
      font-size: 18px;
    }
  }
}

.section_3 {
  justify-content: center;
  .section__main {
    padding: 100px 0 120px;
    background-color: transparent;
  }
  &__wrap {
    max-width: 1200px;
    margin: 0 auto;
    h3 {
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 50px;
      text-align: center;
    }
    .flex__group {
      display: flex;
      width: 100%;
      height: 700px;
      &__1 {
        flex: 3;
      }
      &__2 {
        display: flex;
        flex-direction: column;
        flex: 1;
        &__1 {
          flex: 2;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &__2 {
          flex: 1;
        }
      }
      &__3 {
        flex: 2;
        display: flex;
        flex-direction: column;
        &__1 {
          flex: 1;
          display: flex;
          height: 100%;
          &__box {
            flex: 1;
          }
        }
        &__2 {
          flex: 2;
          height: 100%;
        }
        &__3 {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
      p {
        font-size: 18px;
        text-align: center;
        line-height: 150%;
        color: #ffffff;
      }
      &__text {
        padding: 15px;
        background-color: #137bac;
      }
    }
  }
}

.section_4 {
  $sec: ".section";
  &.right_cont {
    background-image: url(../img/img4.jpg);
    #{$sec}__main {
      justify-content: flex-start;
    }
  }
  &.left_cont {
    background-image: url(../img/img5.jpg);
    #{$sec}__main {
      justify-content: flex-end;
    }
  }
  background-attachment: fixed;
  background-size: cover;

  .section__main {
    display: flex;
  }

  &__wrap {
    width: 600px;
    margin: 0 60px;
  }
  &__title {
    margin: 550px 0;
    h3 {
      font-size: 32px;
      margin-bottom: 30px;
    }
    p {
      font-size: 16px;
      line-height: 150%;
    }
  }
  &__contents {
    margin: 120px 0;
    &__wrap {
      display: flex;
      width: 100%;
      height: 320px;
    }

    &__img_area {
      flex: 1;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__text_area {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      & > div {
        padding: 40px;
      }
      h4 {
        font-size: 32px;
        margin-bottom: 15px;
      }
      p {
        font-size: 16px;
        line-height: 150%;
      }
    }

    &__btn_area {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      height: 180px;
      margin: 30px 0;
      &__content {
        width: 180px;
        height: 100%;
        a img {
          width: 100%;
          height: 100%;
        }
      }
    }
    $tes: &;
    &.contents__left {
      #{$tes}__text_area {
        text-align: left;
      }
      #{$tes}__btn_area {
        justify-content: flex-end;
        &__content {
          margin-left: 30px;
        }
      }
    }
    &.contents__right {
      #{$tes}__text_area {
        text-align: right;
      }
      #{$tes}__btn_area {
        justify-content: flex-start;
        &__content {
          margin-right: 30px;
        }
      }
    }
  }
}
